/* 
Reset 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    border-width: 0;
    background-color: transparent;
}

input {
    border-width: 0;
    background-color: transparent;
}

/*
Flux
*/

.flux {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* START : Stylisation du header */

.header {
    background-color: #fffaf7;
    padding-bottom: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
    
.header__logo {
    width: 72px;
    height: 82px;
}
    
.header__menu {
    width: 28px;
    padding-bottom: 26px;
    margin-left: 20px;
}

.header__list-link {
    display: flex;
    column-gap: 30px;
    margin-right: 100px;
    padding-top: 20px;
}
    
.header__link {
    color: black;
}
    
.header__icon {
    width: 17px;
    height: 22px;
}

/* START : Stylisation de la banniere */

.banniere {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb9118;
    column-gap: 40px;
    height: 56px;
}
    
.banniere__image {
    width: 30px;
    color: #fdf3ed;
}

.banniere__title {
    font-size: 16px;
    font-weight: 500px;
    color: #fdf3ed;
}

.breadcrumb__container {
    display: flex;
    background-color: #fffaf7; 
    height: 100px;
}
    
.breadcrumb__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 185px;
    column-gap: 30px;
}
    
.breadcrumb__link {
    font-size: 13px;
    font-weight: 200;
}
    
.breadcrumb__link1 {
    font-weight: 600;
}

/* START : Stylisation Hero */

.hero__title-1 {
    font-size: 58px;
    font-family: Amatic SC, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    margin-left: 330px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.hero__container {
    position: relative;
    display: flex;
    padding-bottom: 100px;
    
}
    
.hero__title-2 {
    position: absolute;
    font-family: Roboto, sans-serif ;
    font-size:24px;
    font-weight: 600;
    line-height: 1.25;
    color: #222;
    margin-left: 190px;
}
    
.hero__description {
    font-size: 18px;
    line-height: 1.5;
    padding-top: 110px;
    margin-left: 190px;
}
    
.hero__image {
    width: 785px;
    height: 498px;
    margin-left: 70px;
}
    
/*  START : Stylisation description */

.description {
    background-color: #eb9118;
    height: 950px;
    padding-left: 50px;
    padding-bottom: 50px;
    
}

.description__title1 {
    font-family: Amatic SC, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.2;
    padding-left: 430px;
    padding-top: 70px;
    color: #fff;
}

.description__container {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding-left: 20px;  
    padding-right: 20px;
    padding-top: 50px;
}

.description__content {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
    
.description__content-p1{
    color: #fff;
}

.description__content-list {
    position: relative;
    padding-left: 15px;
    padding-top: 40px;
    line-height: 3;
    color: #fff;
}

.description__content-p2 { 
    color: #fff;
    line-height: 1.5;
}

.description__title2 {
    font-family: Amatic SC, sans-serif;
    font-size: 35px;
    padding-top: 120px;
    color: #fff;
}

.description__content-p3 {
    font-size: 16px;
    padding-top: 50px;
    line-height: 1.5;
    color: #fff;
}

/*  START : Stylisation offer */

.offer {
    background-color: #fffaf7;
    height: 200px;
}

.offer__container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    column-gap: 40px;
    padding-top: 60px;
    
}
    
.button__b {
    font-size: 16px;
    font-weight: 600;
    border-radius: 32px;
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 2px #eb651c;
    color: #fffaf7;
}
    
.button-orange {
    background-color: #eb651c;
    transition: background-color 0.25s;
}

.button-orange:hover {
    background-color: transparent;
    color: #eb651c;
}

.offer-2 {
    height: 320px;
}

.offer__container-2 {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-right: 525px;
}
    

.offer__image {
    padding-top: 90px;
}

.offer__content {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin-left: -20px;
}

.offer__container-3 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-right: 305px;
}

.button__b-3 {
    font-size: 16px;
    font-weight: 600;
    border-radius: 32px;
    padding: 20px; 
    padding-left: 25px;
    padding-right: 25px;
    border: solid 2px #eb9118;
    color: #fffaf7;
}

.button-orange-3 {
    background-color: #eb9118;
    transition: background-color 0.25s;
}

.button-orange-3:hover {
    background-color: transparent;
    color: #eb9118;
}

/*  START : Stylisation social */
.social {
    background-color: #fffaf7;
    height: 270px;
    padding-top: 67px;
}
    
.social__container {
    text-align: center;
}
    
.social__title {
    font-family: Amatic SC, cursive;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.2;
}
    
.social__list {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 30px;
    margin-right: 8px;
}
    
.social__image {
    width: 35px;
    height: 35px;
}

.newsletter {
    position: relative;
    bottom: -4px;
}

.newsletter__title {
    position: absolute;
    font-size: 35px;
    font-family: Amatic SC, cursive;
    font-weight: bold;
    margin-left:660px;
    top: 100px;
    padding-top: px;
    color: #fff;
}

.newsletter__image {
    width: 100%;
    height: 370px;
}
    
.newsletter__container {
    position: relative;
    display: flex;
    justify-content: center;
}
    
.button__b1 {
    position: absolute;
    background-color: #fff;
    color: #222;
    border: 2px solid #fff ;
    border-radius: 32px;
    bottom: 100px;
    z-index: 1;
    padding: 15px 45px;
}

.button-white {
    background-color: #fff;
    transition: background-color 0.25s;
}

.button-white:hover {
    background-color: transparent;
} 

/*  START : Stylisation footer */
.footer__menu {
    background-color: rgb(91, 171, 11);
    padding-top: 30px;
    padding-bottom: 35px;
    height: 215px;
}
    
.footer__container {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #fff;
    padding-left: 190px;
}
    
.footer__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    max-width: 75%;
    line-height: 3.5;
}
    
.footer__menu-img {
    display: flex;
    justify-content: end;
    margin-right: 190px;
}
    
.footer__image {
    width: 145px;
    height: 70px;
}
    
/* 450px = mobile */
@media screen and (max-width:450px) {

    .header__list-link {
        display: none;
    }

    .banniere {
        display: none;
    }

    .breadcrumb__list {
        display: none;
    }

    .hero {
        position: relative;
    }
    
    .hero__container {
        position: absolute;
        right: 12%;
    }
        
    .hero__title-1 {
        bottom: 10px;
        font-size: 40px;
        text-align: center;
        padding-top: 30px;
    }
        
    .hero__title-2 {
        font-size: 22px;
    }
        
    .hero__description {
        position: absolute;
        top: 80%;
        margin: 0%;
        margin-left: 10px;
        font-size: 18px;
        line-height: 1.2;
    }
    
    .description {
        position: relative;
        padding-top: 50px;
        height: 950px;
    }
    
    .offer {
        position: relative;
        padding-top: 50px;
    }

    .offer__container {
        position: absolute;
        bottom: 25%;
        column-gap: 20px;
    }

    .offer__container-2 {
        position: relative;
        padding-top: 10px;
        top: 15%;
    }
    
    .offer__container-3 {
        margin-right: auto;
        padding-top: 100px;
    }
        
        
    .button__b-3 {
        padding: 27px;
    }
    .offer__content {
        margin-left: 200px;
    }

    .footer__menu {
        position: relative;
    }
        
        
    .footer__container {
        position: absolute;
        bottom: -1%;
    }

    .footer__list {
        position: relative;
        margin: -20%;
        line-height: 1.7;
    }
    
    .footer__menu-img {
        margin: 5%;
    }
}        

/* 800px = tablette portrait */

@media screen and (max-width:800px) {
    .header {
        position: relative;
        height: 100px;
    }
    
    .header__logo {
        width: 59px;
        height: 66px;
        margin-left: 70px;
    }
    
    .header__menu {
        margin-left: 15px;
    }
        
    .header__list-link {
        display: none;
    }
    
    .banniere {
        display: none;
    }
            
    .breadcrumb {
        position: relative;
    }
            
    .breadcrumb__container {
        position: absolute;
    }
            
    .breadcrumb__list {
        position: absolute;
        height: 80px;
        right: -738px;
        column-gap: 50px;
    }
        
    .breadcrumb__link {
        margin-right: 30px;
    }
        
    .hero__title-1 {
        font-size: 40px;
        margin-left: 35px;
        text-align: center;
        padding-bottom: 10px;
        line-height: 3;
    }
            
    .hero__container {
        position: relative;
        display: block;
        flex-direction: column;
    }
            
    .hero__title-2 {
        position: absolute;
        top: 75%;
        left: -120px;
    }
    
    .hero__description {
        display: none;
    }
        
    .hero__image {
        width: 694px;
        height: 440px;
        padding-right: 25px;
        padding-bottom: 60px;
        bottom: 1%;
        top: 2%;
    }
            
    .description {
        position: relative;
    }
            
    .description__title1 {
        margin-left: -450px;
        bottom: 1%;
    }
    
    .description__container {
        position: absolute;
        margin-left: -40px;
    }

    .description__content-p3 {
        padding-bottom: 40px;
    }

    .newsletter__title {
        display: none;
    }

    .footer__menu {
        height: 290px;
    }
}
    
        
        
    
            
            
            
        
        
        
    
    
    
    
        
        
        
    
            
        
        
        
        
        
            
            

    
    
        
    
        




    

        
        
        
        

        
        
        
        

        

    

        
        
        

        

        
        

    
    


        
        
    
    
        
        
        

    
    
        
    

    
    
        


        
        

        
        
    
        
        
        
    
        
        
        


        

        
        
        

        

        
        
        
        
    

    

    


        


        

        


    
        
    

    
    

        
        
    
    




    

        

        

        
        


    
        
        
        
        
        
        
        
        




        

        


        
    
        

    
    
        
        
        
        
    
        
        
        
        
        


        
        


    
    
    
        
        
        

        
        


        
        
        
        
        



        
        

    


    




        
    
    



    
    
    




    
    
    



    
    
    




    
    


    
    
    
    



    


    
    
    
    
    
    
    
    
    
    


    

    







    
    
    
    
    


 
    





    
    

    
    
    
    
    






    




    
    
    
    

    

    
    
    


    
    
    
    

    

    


    
    
    
    
    


    
    
    


     
    



    
    


    
    
    


    


    

    
    
    
    
    
    
    
    

    



    
    

    
    
    
    

    
    
    

    
    
    
    


    
    
    


    
    
    



    
    
    
    
    


    
    







    
    

    
    
    

    


    
    



    
    
    
    
    










     

    










    
    

    


    

    
    


    
    
    

    




    







    
    
    

    
    
    
    
    
    


    


     

    


    

    
    




  
  




    
    
    


    
    
 










    
    




    
    
    
    
    
    
    
    

    

    
    







    
    
    






    
    



    
